.pokemonData {
    margin: 0;
}

.pokemon-nome {
    font-size: 1.4rem;
}

.header {
    display: flex;
    flex-direction: column;
}

.infos-display {
    background-color: white;
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
}

.arrows {
    align-items: center;
    display: flex;
}

#arrow-left {
    margin-right: 1rem;
}
#arrow-right {
    margin-left: 1rem;
}

.Pokeimg {
    transform: translate3d(0px, 25px, 0px);
    height: 100%;
    justify-self: center;
}

.margin2 {
    margin: 1rem;
}

.margin-height {
    margin: 0.2rem 0;
}

#back {
    height: 3rem;
}

#rightarrow {
    height: 3rem;
}

#leftarrow {
    height: 3rem;
}

.grid-pokedex {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width: 100%;
}

.padading2 {
    padding: 1rem 1rem;
}

.typesA {
    padding: 0;
    margin: 0;
    list-style: none;
    width: 6rem;
}

.typeA {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    font-size: 1rem;
    border-radius: 1rem;
    filter: brightness(1.1);
    text-align: center;
}

.infos-grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.infos-grid-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.espaco {
    height: 1.15em;
    margin: 1em 0;
}

.especificacoes {
    color: rgb(92, 92, 92);
}

.olmod {
    margin: 0;
    padding: 0;
}

.olmod li {
        height: 1.15em;
        margin: 1em 0;
        list-style: none;
}

.informations {
    width: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.37);
    padding: 2rem 0 0rem;
    display: flex;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    z-index: 10;
}

.informations #click-about {
    transition: .2s;
}

.informations #click-stats {
    transition: .2s;
}

.informations #click-about:hover {
    cursor: pointer;
    transform: scale(1.09, 1.07);
    transition: .2s;
}

.informations #click-stats:hover {
    cursor: pointer;
    transform: scale(1.09, 1.07);
    transition: .2s;
}
.informations .select {
    color: rgba(0, 0, 0, 0.944);
}

.informations .select::after {
    content: '';
    width: 100%;
    height: 2px;
    background: rgb(4, 85, 51);
    display: block;
    margin: 1rem auto;
}

.informations::after {
    content: '';
    width: 80%;
    height: 2px;
    background: rgba(4, 85, 51, 0.153);
    display: block;
    position: absolute;
    margin: 2.150rem auto;
}

@media screen and (min-width: 992px) {
    .content2 {
        max-width: 992px;
        margin: 1rem auto;
    }

    .pokemonData{
        border-radius: 1rem;
    }

    .informations::after {
        width: 50%;
    }
}

@media screen and (max-width: 380px) {
    
}

@media screen and (max-width: 576px) {
    .Pokeimg{
        width: 100%;
    }
    #back {
        height: 2rem;
    }
    
    #rightarrow {
        height: 2rem;
    }
    
    #leftarrow {
        height: 2rem;
    }
}

@media screen and (max-width: 992px) {
    .infos-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

}