* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.align-center {
    display: flex;
    align-items: center;
}

.gap-5 {
    gap: 10px;
}

.font-white {
    color: #fff;
}

.none {
    display: none;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.block {
    display: block;
}

.pointer {
  cursor: pointer;   
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
